// design inspirations: https://www.apple.com/

$video-color: #44ce44;
$link-color: #1fbbca;
$dark-link-color: #0070c9;
$highlight-color: #cabb1f;
$background-gray: #f2f2f2;
$light-text-gray: #888;
$med-text-gray: #555;
$dark-text-gray: #111;
$header-background: rgba(45, 45, 45, 0.98);
$header-text-color: #fff;
$overlay-color: rgba(0, 0, 0, 0.4);

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: $background-gray;
}

h1 {
  text-align: center;
}

a {
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 44px;
  font-size: 14px;
  font-weight: 300;
  background-color: $header-background;
  color: $header-text-color;

  a {
    display: inline-block;
    padding: 15px 22px;
  }

  aside {
    position: absolute;
    top: 0;
    width: 67%;
    left: 17%;
    font-size: 17px;

    input {
      width: 100%;
      height: 44px;
      color: $header-text-color;
      background-color: transparent;
      border: none;
      outline: none;
      font-size: inherit;
    }

    h3 {
      color: $light-text-gray;
      font-size: 11px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    li {
      display: flex;
      margin: 6px 0 6px 0;
      padding: 6px 24px;
      justify-content: space-between;
      font-size: 15px;
      font-weight: 300;
      color: $med-text-gray;
    }

    li:hover {
      background-color: $background-gray;
      color: $dark-link-color;
    }

    a {
      padding: 0;
      text-decoration: underline;
    }

    .hidden-dropdown {
      display: none;
    }

    .search-dropdown {
      position: absolute;
      top: 44px;
      width: 100%;
      padding: 24px 44px 18px 44px;
      color: $dark-text-gray;
      background-color: white;
    }
  }
}

.styled-link {
  font-size: 0.75em;
  color: $link-color;
  text-decoration: underline;
}

#header {
  z-index: 1;
}

#gray-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $overlay-color;
}

.content {
  padding-top: 44px;
}

@mixin centered-component {
  display: flex;
  width: 700px;
  margin: 5px auto;
  padding: 5px;
  background-color: white;
}

.video-component {
  @include centered-component;

  .thumbnail-container {
    display: flex;
    align-items: center;

    img {
      max-width: 180px;
    }
  }

  .video-info {
    display: flex;
    padding: 5px;
    flex-direction: column;
  }
}

.news-component {
  @include centered-component;
  flex-direction: column;
}
